[submodule "libs/AudioFile"]
	path = libs/AudioFile
	url = https://github.com/adamstark/AudioFile.git
[submodule "libs/uberswitch"]
	path = libs/uberswitch
	url = https://github.com/falemagn/uberswitch.git
[submodule "libs/CImg"]
	path = libs/CImg
	url = https://github.com/GreycLab/CImg.git
